# Secrets
secrets.h
CHANGELOG.md

# Build output
build/

# VSCode settings
.vscode/
sketch.yaml

# Arduino/compiled artifacts
*.bin
*.elf
*.o
*.map
*.a
*.disabled

# Optional: temporary or backup files
*.tmp
*.bak
*.swp
